
.chat-account-container {
    width: 100%;
    height: auto;
    padding: 0.1rem 0.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.logout {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    border: 0px;
    opacity: 1;
}

.logout-hide {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.logout-show {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.logout svg {
    margin-right: 0.625rem;
}

.chat-account {
    margin-top: 0.625rem;
    width: 100%;
    height: 3.125rem;
    background-color: black;
    border-radius: 0.625rem;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-account-svg {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 0.625rem;
    align-self: center;
}