.chat-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.counselor-container {
    width: 100%;
    height: 4rem;
    padding: 2px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.counselor-box {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    border: 0px;
}

.active {
    background-color: #000; /* 활성화 상태일 때의 배경 색상 */
    color: #fff; /* 활성화 상태일 때의 텍스트 색상 */
}

.counselor-img-box {
    height: 100%;
    width: auto;
    padding: 0;
}

.counselor-img {
    height: 100%;
    width: 100%;
}

.counselor-img img {
    height: 100%;
}

.counselor-name {
    height: 100%;
    width: 68%;
    margin-left: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    color: white;
}

.counselor-delete-box {
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.counselor-delete-img {
    width: 100%;
}

.delete-hide {
    display: none;
}
