.signup-container {
    width: 100%;
    max-width: 365px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.signup-box {
    margin-bottom: 15px;
}

.signup-box span {
    font-size: 35px;
    font-weight: 600;
}

/* Session signup */
.signup-form {
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.signup-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.signup-form button {
    height: 50px;
}

.duplicate-hide {
    display: none;
}

.invalid-feedback {
    margin-top: -10px;
    margin-bottom: 10px;
}

/* 나눔선 */
.divLine {
    width: 100%;
    height: 5px;
}

/* OAuth signup */
.signup-social {
    margin-top: 10px;
    margin-bottom: 15px;
}

.signup-social button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    height: 50px;
    border: 0.1px solid rgb(196, 196, 196);
    border-radius: 5px;
    color: black;

    display: flex;
    align-items: center;
}

.signup-social .icon {
    width: 18px;
    margin: 0 10px;
}

.signup-social img {
    width: 100%;
    height: 100%;
}

.signup-social span {
    font-size: 16px;
    font-weight: 400;
}

.signup-social .btn {
    border: 0.1px solid rgb(196, 196, 196);
}

.signup-social hr {
    margin: 20px 0;
}

.toLogin a {
    color: rgb(13, 110, 253);
    text-decoration: none;
}