.chat-room-container {
    background-color: rgb(240, 240, 240);
    width: 83%;
    height: 100%;
}

.chat-room-info {
    width: 100%;
    height: 7%;
}

.room-info-box {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.chat-room-box-divider {
    width: 100%;
    height: 1px;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width:899px) {
    /* 모바일 가로, 타블렛 세로 */
    .chat-room-container {
        width: 100%;
        height: 100%;
    }

    .room-info-box {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 100;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.35rem 0.45rem 0.45rem;
    }

    .menu-toggle svg {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */
    .chat-room-container.sidebar-container {
        width: 100%;
        height: 100%;
    }

    .room-info-box {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 100;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.35rem 0.45rem 0.45rem;
    }

    .menu-toggle svg {
        width: 100%;
        height: 100%;
    }


}